---
pageable: true
per_page: 10
layout: projects
---

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 contact-header">
      <h3> Contact me </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p><span class="glyphicon glyphicon-envelope"> Joost_Calis@Hotmail.com</span></p>
      <p><span class="glyphicon glyphicon-earphone"> 06-14153020</span></p>
    </div>
  </div>
</div>
