---
pageable: true
per_page: 10
layout: projects
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>
<div class="container-fluid">
  <div class= "row">
    <div class="col-md-12">
      <h1 class="welcome-header">All my recent Projects</h1>
      <p class="welcome-header1"></p>
    </div>
  </div>
  <div class= "row">
    <div class="col-md-6">
      <div class="project-card-left">
      <h2> Bootcamp week 2: Cabins</h2>
      <a href="http://morning-headland-40589.herokuapp.com" target="blank">
      <img src="http://s13.postimg.org/e8r12t153/cabinfevercapture.png" class="project-caption center-block" title="visit this site" />
    </a>

      <p> The objective of this project was to build an Airbnb type website. We decided to base it around mountain cabins.</p>
      <p> It is built completely in Ruby on Rails, using Devise for user sign ups, and carrierwave for image uploads.</p>
      <p> interested in the code? visit my <a href="https://github.com/joostcalis/airbnb" target="blank">Github</a> repository</p>
    </div>
  </div>

    <div class="col-md-6">
      <div class="project-card">
      <h2> Bootcamp week 3: Hug me!</h2>
      <a href="https://boiling-mountain-76299.herokuapp.com/" target="blank">
      <img src="http://s8.postimg.org/bi7yjth6t/Screencap_Social.png" class="project-caption center-block" title="visit this site" />
    </a>
      <p> The objective of this project was to build a social media site. The biggest challenge was to figure out all the ActiveRecord relations.</p>
      <p>It is built in Ruby on Rails combined with a little bit of jQuery for the like button functionality.</p>
      <p> interested in the code? visit my <a href="https://github.com/joostcalis/Social2/tree/comments_" target="blank">Github</a> repository</p>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="project-card-left">
      <h2> Bootcamp week 5: Ballparks </h2>
      <a href="http://physiotherapist-walrus-68848.bitballoon.com/" target="blank" title="visit this site">
      <img src="http://s22.postimg.org/fynga7ao1/ballparkscaption.png" class="project-caption center-block" />
    </a>
      <p>Individual Homework project where we had to create a review site for our subject of choice.</p>
      <p>The Back End is a RESTful API built in Ruby on Rails, rendering ballparks and its reviews in JSON. I also use nokogiri to render an up to date baseball newsfeed.</p>
      <p>The Front End is completely build in React.js. With search functionality, a simple newsfeed that I built, multiple sorted lists and of course reviewable ballparks.</p>
      <p>Interested in the code? visit my github repository:</p>
      <p><a href="https://github.com/joostcalis/ballparks" target="blank">Back End API</a>
      </p>
      <p><a href="https://github.com/joostcalis/ballparks_front" target="blank">React Front End</a>
      </p>
      </div>
    </div>
  </div>
  </div>
</div>



<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
